*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --sm-font-size: 17px;
  --md-font-size: 18px;
  --lg-font-size: 2.5rem;
  --text-clr: #c5dfff8c;
  --primary-clr: #ee290a;
  --secondary-clr: #4d6cff;
  --tertiary-clr: #4f9cef;
  --primary-bg-clr: #293257;
  --secondary-bg-clr: #4d6cff;
  --tertiary-bg-clr: #9abef7;
}

body {
  color: white;
  background: var(--primary-bg-clr);
}

.container {
  position: relative;
}

/*todo ~ My Predefined Classes */
.flex-align {
  display: flex;
  align-items: center;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.All-btn {
  border: none;
  padding: 10px 20px;
}

/*~ Multi-time used class  */
.primary-btn {
  background: var(--secondary-bg-clr);
  color: #fff;
  padding: 13px 40px;
  font-size: var(--sm-font-size);
  font-weight: 600;
  text-transform: uppercase;
}

/*! Haader Starts Here  */
header {
  margin: 25px 35px;
}
nav ul li a {
}
nav ul {
  gap: 45px;
}
nav ul li a {
  color: var(--text-clr);
  font-size: var(--sm-font-size);
}
nav ul #sign-up-btn {
  color: var(--secondary-clr);
  font-size: var(--sm-font-size);
  font-weight: 700;
  padding: 10px 30px;
  margin-left: 30px;
}

/*& logo  */
.logo {
  font-size: calc(var(--sm-font-size) + 4px);
  font-weight: 700;
}
.logo span {
  color: var(--secondary-clr);
}

/*! Main Starts here */
main {
  width: 1050px;
  min-height: 120vh;
  margin: auto;
  position: relative;
}
main .main-content {
  position: absolute;
  top: 30%;
  z-index: 2;
}
main .main-content h1 {
  padding: 0px;
  font-size: 7rem;
}
main .main-content p {
  margin-bottom: 25px;
  color: var(--text-clr);
  font-size: calc(var(--sm-font-size) + 5px);
}

main .main-content > .row #view-btn {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

/*? Ball Animation Starts Here  */
.handle {
  width: 5px;
  height: 530px;
  background: linear-gradient(
    var(--primary-bg-clr) 10%,
    var(--tertiary-clr),
    #fff
  );
  position: relative;
  top: -100px;
  left: 68.5%;
  box-shadow: inset 0px -4px 5px rgba(0, 0, 0, 0.3);
  animation: moveIt 2.5s ease-in-out infinite;
  transform-origin: top center;
}
.handle .swing-ball {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: radial-gradient(
    circle at 100px 100px,
    var(--tertiary-clr),
    var(--primary-bg-clr)
  );
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.3),
    inset -10px -10px 10px rgba(0, 0, 0, 0.3), 3px 4px 10px rgba(0, 0, 0, 0.2),
    -3px 4px 10px rgba(0, 0, 0, 0.2);
}
.hanging-ball {
  position: absolute;
  top: 80px;
  right: 0;
}
.hanging-ball .circle {
  border-radius: 50%;
}

.hanging-ball #circle-1 {
  width: 600px;
  aspect-ratio: 1/1;
  box-shadow: inset -8px 8px 4px rgba(0, 0, 0, 0.8),
    inset -12px 12px 23px rgba(0, 0, 0, 0.6),
    inset -15px 15px 30px rgba(0, 0, 0, 0.4),
    inset -15px -15px 20px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: -10;
}
.hanging-ball #circle-1 .ball {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background: #ed6f66;
  background: radial-gradient(circle at 100px 100px, #c4342a, #ea6258);
  position: absolute;
  bottom: 5px;
  right: 39.7%;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.3), -7px -7px 7px rgba(0, 0, 0, 0.7),
    -6px 3px 6px rgba(0, 0, 0, 0.7), 7px -7px 6px rgba(0, 0, 0, 0.3),
    inset 3px 3px 10px rgba(0, 0, 0, 0.6),
    inset -3px -3px 10px rgba(0, 0, 0, 0.6);
  animation: gelatine 1.3s infinite;
}

.hanging-ball #circle-1::before {
  content: '';
  width: 620px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--primary-bg-clr);
  z-index: 1;
  position: absolute;
  top: -10px;
  clip-path: polygon(25% 32%, 22% 44%, 22% 66%, 49% 73%, 49% 100%, 0 100%, 0 0);
}
.hanging-ball #circle-1::after {
  content: '';
  width: 360px;
  height: 144px;
  background: linear-gradient(to right, #ee290a, transparent);
  position: absolute;
  clip-path: ellipse(56% 86% at 61% 107%);
  transform: rotate(-18deg);
  left: 4px;
  z-index: -5;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.7), 15px 0px 20px rgba(0, 0, 0, 0.5),
    20px 0px 25px rgba(0, 0, 0, 0.4);
}
.hanging-ball #circle-2 {
  width: 460px;
  aspect-ratio: 1/1;
  background: var(--primary-bg-clr);
  position: absolute;
  transform: translate(16%, 16%);
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.8), 12px 12px 23px rgba(0, 0, 0, 0.6),
    15px 15px 30px rgba(0, 0, 0, 0.4), -4px -3px rgba(0, 0, 0, 0.8),
    -4px -3px 2px rgba(0, 0, 0, 0.3);
}
.hanging-ball #circle-3 {
  width: 240px;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(45%, 45%);
  box-shadow: inset -10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -10px 30px 35px rgba(0, 0, 0, 0.5),
    inset -10px 40px 50px rgba(0, 0, 0, 0.5),
    inset 15px 10px 10px rgba(0, 0, 0, 0.4),
    inset 35px 30px 35px rgba(0, 0, 0, 0.5),
    inset 45px 40px 50px rgba(0, 0, 0, 0.5);
}
.hanging-ball .rect {
  width: 30px;
  height: 240px;
  background: #111;
  position: relative;
  transform: translateY(146%);
  right: 57%;
  z-index: 100;
}
.hanging-ball .rect::before {
  content: '';
  width: 20px;
  height: 185px;
  background: linear-gradient(to right, #6f80cb, #4a5db2, #28377a);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  box-shadow: inset 1px 0px 5px #000, inset -1px 0px 7px #000;
}
.hanging-ball .rect::after {
  content: '';
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 32px;
  left: 3px;
  box-shadow: inset 1px 0px 5px #000, inset -1px 0px 7px #000;
  animation: bounce 2s ease infinite;
}

/*! Second page starts here */
.conical-cap {
  border: 2px solid red;
  height: 600px;
}
.conical-cap > div {
  flex-basis: 35%;
  margin: auto;
}

/*? shape part  */
.conical-cap > :first-child {
  border: 2px solid red;
  height: 400px;
  flex-direction: column;
}
.conical {
  width: 200px;
  height: 300px;
  margin-left: 60px;
  align-self: flex-start;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.conic_base-box {
  width: 100%;
  height: 70px;
  background: var(--tertiary-bg-clr);
  position: relative;
  align-self: flex-end;
  box-shadow: 10px 20px 30px 7px rgba(0, 0, 0, 0.5),
    10px 60px 30px rgba(0, 0, 0, 0.4), 10px 90px 50px rgba(0, 0, 0, 0.3);
}
.conic_base-box::after {
  content: '';
  width: 100%;
  height: 10px;
  background: #435980;
  position: absolute;
  bottom: -10px;
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 2% 100%);
}

/*? content part  */
.conical-cap:last-child h4 {
  font-size: var(--lg-font-size);
  text-transform: uppercase;
}
.conical-cap:last-child p {
  color: var(--text-clr);
  padding-block: 30px;
}

/*todo ~ Aniamtions */
/** Aniamtion for pendulam ball   */
@keyframes moveIt {
  0%,
  100% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}

/** Aniamtion for slider ball   */
@keyframes gelatine {
  from,
  to {
    transform: translateX(30px);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/** Aniamtion for small bouncing ball   */
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-50%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-17%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-9%);
  }
  100% {
    transform: translateY(0);
  }
}
